nb-card {
  height: 92%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 25px;
  background-color: #F3E3BC;
  border-radius: 10px;
}

nb-card-body {
  display: flex;
  width: 100%;
}


nb-auth-block {
  margin: auto;
}

::ng-deep .nb-theme-default [nbButton].appearance-filled.status-basic,
::ng-deep .nb-theme-default [nbButton].appearance-filled.status-basic:focus {
  background-color: #00ae6c;
  color: #fff;
  box-shadow: none;
  border: none;
}

::ng-deep .nb-theme-default [nbButton].appearance-filled.status-primary[disabled]:hover {
  background-color: rgba(143,155,179,0.24);
  border-color: rgba(143,155,179,0.24);
  color: rgba(143,155,179,0.48);
}

::ng-deep .nb-theme-default [nbButton].appearance-filled.status-primary {
  background-color: #00ae6c;
  color: #fff;
  box-shadow: none;
  border: none;
}

::ng-deep .nb-theme-default [nbButton].appearance-filled.status-primary:hover {
  color: #fff;
  box-shadow: none;
  background-color: #008050;
  border: none;
}
